<h1 class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl">Edit Reward</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.rewards_path(@conn, :update, @reward)) %>

<span><%= link "Back", to: Routes.rewards_path(@conn, :index) %></span>