<h1 class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl">Edit User Credits</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.users_path(@conn, :update, @user)) %>

<span><%= link "Back", to: Routes.users_path(@conn, :index) %></span>