<%= form_for @changeset, @action, fn f -> %>
	<div class="form-group">
		<label>Amount</label>
		<%= number_input f, :amount, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= submit "Add reward", class: "btn btn-primary" %>
	</div>
<% end %>